<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:prod-api.cp.2a-logistic.com</string>
		<string>applinks:prod-api.cp.2a-logistic.com?mode=developer</string>
		<string>webcredentials:prod-api.cp.2a-logistic.com</string>
		<string>webcredentials:prod-api.cp.2a-logistic.com?mode=developer</string>
	</array>
</dict>
</plist>
